body{
  background: #020618;
  font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.85714;
    color: #90a1b9;
}
h2{
  font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.84615;
    text-align: center;
    color: #f1f5f9;
}
@media only screen and (min-width: 1440px) {
  body{
    font-size: 16px;
  }
}